@model SnippySystem.Models.ViewModels.Comments.DeleteCommentViewModel
@{
    ViewBag.Title = "DeleteComment";
}

<h2>DeleteComment</h2>


<div class="comments">
     @using (Html.BeginForm())
     {
    <p>@Model.Content</p>
    <div><i class="fa fa-user" aria-hidden="true"></i> <strong>@Model.UserName</strong> on @Model.CreationTime</div>
    <div>on snippet @Model.SnippetTitle</div>
    <div class="text-hide"> @Html.EditorFor(c => c.Id)</div>
    <div class="text-hide"> @Html.EditorFor(c => c.SnippetId)</div>

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-success" />
        @Html.ActionLink("Cansel", "Details", "Snippet", new { id = @Model.SnippetId }, new { @class = "btn btn-info" })
    </div>
    
    }


</div>